.identificacao {
	width:500px;
}

.detalhamento {
	width:500px;
	height:200px;
}

.genero {
	color:#6e6e6e;
}

.arquivo {
	width:500px;
}

.aviso {
	color:#f00;
	text-align:justify;
}

.info {
	width:780px;
	padding:10px;
	margin-top:10px;
	font-size:10px;
	background:#f0f0f0;
}

.info input {
	font-size:10px;
	background:#f0f0f0;
	border:0px;
}

.info span {
	display:block;
}