
#wrapper {
	margin-top:10px;
	width:100%;
	display:inline;
}

#menu1{
	width:96.2%;
	padding:20px;
}


.divisor {
	width:100%;
	background:#ebebeb;
	color:#626262;
	font-weight:bold;
	font-size:11px;
	padding:5px;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	border:1px solid #c9c9c9;
}


.options {
	width:121.5px;
	height:150px;
	opacity:0.8;
}

.options:hover {
	opacity:1;
}