.titulo {
	width:600px;
	margin-bottom:10px;
	margin-left:5px;
	border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    background-color:#f6f6f8;
    color:#000;
    border:1px solid #b7b7b7;
    padding:5px;
}

.categorias {
	width:300px;
	margin-top:10px;
	border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    background-color:#f6f6f8;
    color:#000;
    border:1px solid #b7b7b7;
    padding:5px;
}

.info {
	width:780px;
	padding:10px;
	margin-top:10px;
	font-size:10px;
	background:#f0f0f0;
}

.info input {
	font-size:10px;
	background:#f0f0f0;
	border:0px;
}

.info span {
	display:block;
}