body{
	background:#eeeeee;
	font-family:Verdana;
	background:url('../imagens/bg.jpg');
}


.normal {
	display:block;
	border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    background-color:#f6f6f8;
    color:#000;
    border:1px solid #b7b7b7;
    padding:5px;
	margin-bottom:10px;
	width:800px;
}

.check {
	margin-bottom:10px;
}

form {
	width:100%;
}

input {
	width:100%:
}

select {
	display:block;
	padding:5px;
	
}

#pagina {
	margin-right:auto;
	margin-left:auto;
	background:#fff;
	-webkit-border-radius:10px;
    -moz-border-radius:10px;
    border-radius:10px;
    border:1px solid #cbcbcb;
}

#header {
	width:100%;
	height:100px;
	background:#424343;
	margin-right:auto;
	margin-left:auto;
	display:inherit;
	-webkit-border-radius:10px 10px 0px 0px;
    -moz-border-radius:10px 10px 0px 0px;
    border-radius:10px 10px 0px 0px;
}

#formulario {
	width:800px;
	padding:20px;
}

#navegacao {
	width:100%;
	height:30px;
	margin-right:auto;
	margin-left:auto;
}

#menu ul {
	padding:0px;
	margin:0px;
	background:url('../imagens/menuadminbg.jpg')repeat-x;
	list-style:none;

}

#menu ul li {
	display:inline;
	font-size:16px;
}

#menu ul li a {
	padding: 5px 20px;
	display:inline-block;
	background:url('../imagens/menuadminbg.jpg')repeat-x;
	color:#000;
	text-decoration:none;
}

#menu ul li a:hover {
	display:inline-block;
	background:url('../imagens/menuadminbghover.jpg')repeat-x;
	color:#fff;
	text-decoration:none;
}

#info {
	font-size:10px;
	color:#fff;
	float:right;
	margin-top:-80px;
	margin-right:20px;
	height:80px;
	text-align:center;
	display:block;
	
}

#logo {
	padding:20px;
}

.logoutbtn {
	color:#fff;
	background:#f00;
	padding:5px;
	padding-left:10px;
	padding-right:10px;
	border-radius:5px;
    -webkit-border-radius:5px;
    -moz-border-radius:5px;
	border:1px solid #9f0000;
}

.logoutbtn:hover {
	background-color:#ff2424;
}


.button {
	width:200px;
	height:40px;
	padding:10px;
	background-color:#232323;
	color:#fff;
	border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
	border:1px solid #b7b7b7;
} 

.button:hover {
	background-color:#686868;
}

.info {
	width:780px;
	padding:10px;
	margin-top:10px;
	font-size:10px;
	background:#f0f0f0;
}

.info input {
	font-size:10px;
	background:#f0f0f0;
	border:0px;
}

.info span {
	display:block;
}

.success {
	width:800px;
	height:50px;
	padding:10px;
	background:#9fff98;
	border:1px solid #043f00;
}

.fail {
	width:800px;
	height:50px;
	padding:20px;
	background:#ffcece;
	border:1px solid #b80606;
}