.normal {
	display:block;
	border-radius:1px;
    -webkit-border-radius:1px;
    -moz-border-radius:1px;
    background-color:#f6f6f8;
    color:#000;
    border:1px solid #b7b7b7;
    padding:5px;
	margin-bottom:10px;
	width:800px;
}

.check {
	margin-bottom:10px;
}

form {
	width:100%;
}

input {
	width:100%:
}

select {
	display:block;
	padding:5px;
	
}


.button {
	width:200px;
	height:40px;
	padding:10px;
	background-color:#232323;
	color:#fff;
	border-radius:10px;
    -webkit-border-radius:10px;
    -moz-border-radius:10px;
	border:1px solid #b7b7b7;
} 

.info {
	width:780px;
	padding:10px;
	margin-top:10px;
	font-size:10px;
	background:#f0f0f0;
}

.info input {
	font-size:10px;
	background:#f0f0f0;
	border:0px;
}

.info span {
	display:block;
}